.wy-side-nav-search {
    background-color: #a53737;
}
.wy-menu-vertical p.caption {
    color: #da8888;
}

.wy-menu-vertical a:active {
    color: #a53737;
}

/*
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {

}
*/
