.wy-side-nav-search {
    background-color: #a53737;
}
.wy-side-nav-search input[type=text] {
    background-color: #a53737;
    border: none;
    /*border-radius: 0px;*/
    border-color: #a53737;
}
.wy-side-nav-search input[type=text] a:active {
    background-color: #3a3a3a;
}
.wy-menu-vertical p.caption {
    color: #da8888;
}
.wy-menu-vertical a:active {
    background-color: #a53737;
}

/* Code blocks */
.rst-content pre.literal-block, .rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre {
    font-size: 14px;
    line-height: 1.4;
    background-color: #3a3a3a;
    color: #e6e6e6;
    border-radius: 8px;
}

h1 {
    font-size: 250%;
}
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: Segoe UI, "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif
}
